<div>
  <h2>Masternodes Summary</h2>
  <p>Down: <%=@nodes_down.count%> - Offline: <%=@nodes.offline.count%> - New: <%=@nodes._new.count%> - Online: <%=@nodes.online.count%></p>
  <h3>Masternode(s) Down: (<%=@nodes_down.count%>)</h3>
  <% if @nodes_down.count > 0 %>
    <%= render 'table', nodes: @nodes_down %>
  <% end %>
  <h3>Masternode(s) Offline: (<%=@nodes.offline.count%>)</h3>
  <% if @nodes.offline.count > 0 %>
    <%= render 'table', nodes: @nodes.offline %>
  <% end %>
  <h3>Masternode(s) New: (<%=@nodes._new.count%>)</h3>
  <% if @nodes._new.count > 0 %>
    <%= render 'table', nodes: @nodes._new %>
  <% end %>
  <h3>Masternode(s) Online: (<%=@nodes.online.count%>)</h3>
  <% if @nodes.online.count > 0 %>
    <%= render 'table', nodes: @nodes.online %>
  <% end %>
</div>
